<a href="https://colab.research.google.com/github/apuhapu/algorithm_study/blob/main/15663.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/problem/15663

인덱스 중복 X, 입력 숫자 중복 가능

In [1]:
n, m = map(int, input().split())
lst = list(map(int, input().split()))
visited = [False] * (n + 1)
answer = []

4 2
9 7 9 1

In [2]:
lst.sort()

In [3]:
lst

[1, 7, 9, 9]

In [4]:
def series(lth, n, m):
    if lth == m:
        print(' '.join(map(str, answer)))
        
    else:
        for i in range(1, n+1):
            if not visited[i]:
                visited[i] = True
                answer.append(lst[i-1])
                series(lth + 1, n, m)
                answer.pop()
                visited[i] = False

In [5]:
series(0,n,m)

1 7
1 9
1 9
7 1
7 9
7 9
9 1
9 7
9 9
9 1
9 7
9 9

중복 숫자에 대한 중복 수열을 제거할 필요가 있음

In [11]:
output = []

In [7]:
def series(lth, n, m):
    if lth == m:
        output.append(' '.join(map(str, answer)))
        
    else:
        for i in range(1, n+1):
            if not visited[i]:
                visited[i] = True
                answer.append(lst[i-1])
                series(lth + 1, n, m)
                answer.pop()
                visited[i] = False

In [12]:
series(0,n,m)

In [13]:
output

['1 7',
 '1 9',
 '1 9',
 '7 1',
 '7 9',
 '7 9',
 '9 1',
 '9 7',
 '9 9',
 '9 1',
 '9 7',
 '9 9']

In [14]:
output2 = set(output)

In [17]:
output2

{'1 7', '1 9', '7 1', '7 9', '9 1', '9 7', '9 9'}

In [22]:
output3 = list(output2)

In [24]:
output3.sort()

In [25]:
output3

['1 7', '1 9', '7 1', '7 9', '9 1', '9 7', '9 9']

In [18]:
len(output2)

7

In [26]:
for i in output3:
    print(i)

1 7
1 9
7 1
7 9
9 1
9 7
9 9

1차 제출안

In [36]:
n, m = map(int, input().split())
lst = list(map(int, input().split()))
visited = [False] * (n + 1)
answer = []
lst.sort()
output = []

def series(lth, n, m):
    if lth == m:
        output.append(' '.join(map(str, answer)))
        
    else:
        for i in range(1, n+1):
            if not visited[i]:
                visited[i] = True
                answer.append(lst[i-1])
                series(lth + 1, n, m)
                answer.pop()
                visited[i] = False

series(0,n,m)
output = list(set(output))
output.sort()

for i in output:
    print(i)

3 1
1 19 2
1
19
2

output에 추가할 때 문자열로 추가하여 문제가 생김

수정 필

In [49]:
n, m = map(int, input().split())
lst = list(map(int, input().split()))
visited = [False] * (n + 1)
answer = []
lst.sort()
output = []

def series(lth, n, m):
    if lth == m:
        x = ' '.join(map(str, answer))
        if x not in output:
            print(x)
            output.append(x)
        
    else:
        for i in range(1, n+1):
            if not visited[i]:
                visited[i] = True
                answer.append(lst[i-1])
                series(lth + 1, n, m)
                answer.pop()
                visited[i] = False

series(0,n,m)

4 2
9 7 9 1
1 7
1 9
7 1
7 9
9 1
9 7
9 9