<a href="https://colab.research.google.com/github/apuhapu/algorithm_study/blob/main/15686.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/problem/15686

In [23]:
n, m = map(int, input().rstrip().split())
city = [list(map(int, input().rstrip().split())) for _ in range(n)]

5 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1

In [24]:
city

[[1, 2, 0, 2, 1],
 [1, 2, 0, 2, 1],
 [1, 2, 0, 2, 1],
 [1, 2, 0, 2, 1],
 [1, 2, 0, 2, 1]]

In [25]:
chicken = []  # 치킨집 좌표 배열(최대 13)
house_cnt = 0
for i in range(n):
    for j in range(n):
        if city[i][j] == 2:
            chicken.append((i,j))
        elif city[i][j] == 1:
            house_cnt += 1

In [26]:
chicken

[(0, 1),
 (0, 3),
 (1, 1),
 (1, 3),
 (2, 1),
 (2, 3),
 (3, 1),
 (3, 3),
 (4, 1),
 (4, 3)]

In [39]:
house_cnt

10

In [6]:
from collections import deque

In [40]:
dr = [1,-1,0,0]
dc = [0,0,1,-1]

In [29]:
def chicken_distance(shop, city, house_cnt):
    result = 0
    que = deque(shop)
    visited = [[-1]*n for _ in range(n)]
    for i, j in shop:
        visited[i][j] = 0
    while que:
        i, j = que.popleft()
        for k in range(4):
            r = i + dr[k]
            c = j + dc[k]
            if 0<=r<n and 0<=c<n and visited[r][c] == -1:
                visited[r][c] = visited[i][j] + 1
                que.append((r,c))
                if city[r][c] == 1:
                    result += visited[r][c]
                    house_cnt -= 1
                    if house_cnt == 0:
                        break
        if house_cnt == 0:
            break
    return result

In [43]:
chicken_distance([(2,1)], city, house_cnt)

32

In [31]:
print(len(chicken) - 1)

9

In [48]:
output = 10**7
# 백트래킹
def fun(cnt, idx, chicken):
    global output
    if cnt == m:
        output = min(output, chicken_distance(arr, city, house_cnt))
    else:
        if idx == len(chicken):
            pass
        else:           
            x, y = chicken[idx]
            arr.append((x,y))
            fun(cnt+1, idx+1, chicken)
            arr.pop()
            if idx < len(chicken) - 1:
                fun(cnt, idx+1, chicken)

In [33]:
chicken

[(0, 1),
 (0, 3),
 (1, 1),
 (1, 3),
 (2, 1),
 (2, 3),
 (3, 1),
 (3, 3),
 (4, 1),
 (4, 3)]

In [49]:
fun(0, 0, chicken)

In [50]:
print(output)

32

제출본

In [22]:
import sys
from collections import deque
# input = sys.stdin.readline

# 입력파트
n, m = map(int, input().rstrip().split())
city = [list(map(int, input().rstrip().split())) for _ in range(n)]

chicken = []  # 치킨집 좌표 배열(최대 13)
house_cnt = 0 # 가정집 개수
for i in range(n):
    for j in range(n):
        if city[i][j] == 2:
            chicken.append((i,j))
        elif city[i][j] == 1:
            house_cnt += 1

dr = [1,-1,0,0]
dc = [0,0,1,-1]

# 치킨거리 구하는 함수
def chicken_distance(shop, city, house_cnt):
    result = 0
    que = deque(shop)
    visited = [[-1]*n for _ in range(n)]
    for i, j in shop:
        visited[i][j] = 0
    while que:
        i, j = que.popleft()
        for k in range(4):
            r = i + dr[k]
            c = j + dc[k]
            if 0<=r<n and 0<=c<n and visited[r][c] == -1:
                visited[r][c] = visited[i][j] + 1
                que.append((r,c))
                if city[r][c] == 1:
                    result += visited[r][c]
                    house_cnt -= 1
                    if house_cnt == 0:
                        break
        if house_cnt == 0:
            break
    return result

arr = list()
output = 10**7
# 백트래킹
def fun(cnt, idx, chicken):
    global output
    if cnt == m:
        output = min(output, chicken_distance(arr, city, house_cnt))
    else:
        if idx == len(chicken):
            pass
        else:           
            x, y = chicken[idx]
            arr.append((x,y))
            fun(cnt+1, idx+1, chicken)
            arr.pop()
            if idx < len(chicken) - 1:
                fun(cnt, idx+1, chicken)

fun(0, 0, chicken)
print(output)

5 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1
1 2 0 2 1
11

답이 32가 나와야하는데 11이 나옴

output의 초기값을 너무 작게 잡았다. n이 최소 50이므로 1억으로 잡자

통과